.category-image{
    display:none;
}
.main-catalogue{
    width:100%;
}
.back-icon{
 width:24px;
 height:24px;   
}
.display-items{
    width:100%;
    overflow: hidden;
    display:flex;
    flex-flow: row wrap;
    justify-content: left;
}
.expiry-cvv-division{
    width:70%;
}
.mens-outerwear{
    width:100%;
}

.expiry-division{
    width:100%;
}
.remaning-items{
    color:gray;
    padding-top:0;
}
.item-showcase{
    width:50%;
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-name{
    font-weight:bold;
}
.select-items{
    width:100%;

}
.product-description{
    color:gray;
    max-width: 1440px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: top;
}
.product-image{
    width:100%;
}
.description{
    margin-bottom: 5%;
}
.cost{
    padding-bottom:30px;
    border-bottom:1px solid;
}
.product-features{
    max-width: 400px;
    margin:32px 64px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size:13px;
}
.select-requirements{
    position:relative;
}
.label-for-select{
    position:absolute;
    top:20px;
}
#select-box{
    position: relative;
    width:100%;
    font-size:16px;
    -moz-appearance: none;
    padding:16px 70px;
    background-color: transparent;
    border:0;
    border-bottom:1px solid gray;
}


.checkout-select-requirements{
    order:3;
    position:relative;
}

.size{
    order:4;
    margin-left:20px;
}

.cart-cost{
    order:5;
    margin-left:20px;
}

.label-for-checkout-select{
    position:absolute;
    top:10px;
}
#checkout-select-box{
    position: relative;
    width:100%;
    font-size:13px;
    padding:8px 24px 8px 40px;
    background-color: transparent;
    border:0;
    -moz-appearance: none;
    overflow:hidden;
}

.expiry-input{
    width:48%;
    position: relative;
}
.item-requirements{
    margin-left:24px;
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: center;
    align-content: flex-end;
}

h1 {
    font-size:20px;
    line-height: 24px;
    font-weight: 500;
    color:black;
}
h3{
    color:black;
}

.address-checkbox{
    max-width: 10%;
    position: relative;
    background:transparent;
    border:2px solid black;
    width:16px;
    height:16px;
    margin-right: 10px;
}
.address-checkbox input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: transparent;
}

.developers{
    display:none;
    margin-top:200px;
}
.product-description{
    margin-left:5%;
    margin-bottom:10%;
}
.add-to-cart-button-division{
    display:none;
    margin-top:3vw;
}
.checkout-button-division{
    display:none;
}

.add-to-cart{
    height:10%;
    bottom:0;
    width:100%;
    position:fixed;
    display:block;
    background-color:#172c50;
    color:white;
    text-align: center;
    margin-bottom:0;
}
.fixed-button{
    color:white;
}

.cart-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-count{
    font-size:12px; 
    color:gray;
    margin-top:10px;
    margin-bottom: 60px;
    text-align:center;
}
.item-image img{
    width:100%;
}
.item-in-cart{
    width:100%;
    color:gray;
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    font-size: 13px;
    align-content: right;
    align-items: center;
}
.close-icon{
    order:2;
    overflow: hidden;
    width:18px;
    height:18px;
}
.close-icon img{
    width:100%;
}
.item-image{
    width:72px;
    height:72px;
}
.showcase-item-name{
    width:100%;
    margin:0;
    font-weight: 500;
    line-height: 20px;
}
.item-name{
    order:1;
    width:90%;
    overflow: hidden;
    margin:0;
    font-weight: 500;
    line-height: 20px;
}

.item-name a{
    overflow:hidden;
}

.main-cart{
    max-width: 1440px;
    width:96%;
    margin-left:2%;
    margin-right:2%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-checkout{
    max-width: 1440px;
    width:100%;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom:200px;
}
.checkout-information{
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: left;
    font-size: 13px;
}
.checkout-division{
    width:100%;
    display:flex;
    margin-left:0px;
    flex-direction: column;
    justify-content:start;
}
#country-select-box{
    position: relative;
    width:100%;
    font-size:13px;
    bottom:-5px;
    -moz-appearance: none;
    background-color: transparent;
    border:0;
    border-bottom:1px solid gray;
}

.cost-summary{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.acc-information{
    width:100%;
}
.checkout-first-division{
    margin-top:0;
    margin-bottom:40px;
}
.checkout-first-division input{
    margin:0;
    border:0;
    border-bottom: 1px solid black;
    width:100%;
}
.state-zip-code{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.acc-info-input{
    width:48%;
}
.state{
    width:90%;
}
.state-input{
    width:90%;  
    border:0;
    border-bottom: 1px solid black;
}
.expiry-month{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
    align-content: flex-start;
}
.bold-no-margin{
    margin:0;
}
.product-image img{
    width:100%;
}
.billing-address{
    display:flex;
    width: 100%;
    flex-direction:row;
}
.total-amount{
    width:100%;
    margin-top:30px;
    display:flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
.showcase-image{
    width:100%;
}
.main-product-description{
    width:100%;
    max-width: 1440px;
    color:gray;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}

.card-details{
    width:100%;
    display:flex;
    flex-direction: row;
}
#expiry-select-box{
    position: relative;
    -moz-appearance: none;
    width:100%;
    font-size:13px;
    background-color: transparent;
    border:0;
    border-bottom:1px solid gray;
    margin-top:7px;
}
.bold{
    font-weight: 900;
    margin-top:30px;
    margin-bottom:30px;
}

.cvv{
    width:30%;
}
.cvv input{
    margin:0;
    border:0;
    border-bottom: 1px solid black;
    width:100%;
}



.group{ 
    position:relative; 
    margin-bottom:45px; 
  }
input{
    font-size:13px;
    padding:10px 0px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
  }
input:focus{
    outline:none; 
  }
  
label{
    color:#999; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

input:focus ~ label, input:valid ~ label{
    top:-20px;
    font-size:13px;
    color:black;
  }
  
  .bar{ 
    position:relative; 
    display:block; 
    width:100%; 
  }
  .bar:before, .bar:after{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:black; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
.different-billing-address{
    display:none;
    width:100%;
    margin-top:30px;
}
.different-billing-address-checkbox{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}
#check-box{
    width:16px;
    margin-right:10px;
}

#check-box:checked + .different-billing-address{
    display:block;
}

@media (min-width: 768px) { 
    .category-image{
        display:block;
    }
    .item-showcase{
        width:33%;
    }
    .product-image{
        width:45%;
    }
    .product-features{
        width:50%;
    }
    .developers{
        display:flex;
    }
    .checkout-button-division{
        display:block;
    }
    .add-to-cart-button-division{
        display:block;
        margin-top: 3vw;
    }
    .add-to-cart{
        display:none;
    }
    .checkout-division{
        width:46%;
        margin-left:30px;
    }
    .acc-information{
        width:46%;
    }
    .size{
        order:3;
        margin:0;
    }
    .cart-cost{
        order:4;
        margin:0;
    }
    .close-icon{
        order:5;
    }
    .total-amount{
        width:80%;
    }
    .item-requirements{
        justify-content: space-between;
    }
    .item-in-cart{
        width:80%;
    }    
    .item-name{
        width:40%;
    }
    .main-product-description{
        width:70%;
    }
}
@media (min-width: 992px) { 
    .product-description{
        width:55%;
    }
    .main-checkout{
        width:50%;
    }
}
@media (max-width:350px){

    .item-requirements{
        justify-content: left;
    }

    .size{
        width:100%;
        margin:0;
    }
    .cart-cost{
        width:100%;
        margin:0;
    }
}
