body{
    margin: 0%;
    font-family: 'Roboto', 'Noto', sans-serif;
}
.main{
    width:96%;
    margin-left:2%;
    margin-right:2%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width:100%;
    height:10%;
    display:flex;
    flex-flow: row;
    padding-top:2%;
    padding-bottom:2%;
    justify-content:space-between;
}

.menu-icon{
    margin-left:2%;
    width:24px;
    height:24px;
}
.menu-icon-img{
    width:100%;
}
.top-text{
    font-weight: bold;
    font-size: 100%;
    font-family: 'Roboto', 'Noto', sans-serif;
}
.cart{
    width:24px;
    height:24px;
}
.cart-icon{
    width:100%
}
.main-navbar{
    width:100%;
    display:flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom:30px;
}
.navbar{
    display:none;
}
.navbar div{
    margin-left:2%;
    margin-right:2%;
    font-size:72%;
}
a{
    color:black;
    text-decoration: none;
    padding-bottom:20px;
}
.main-catalogue{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}
.add-to-shopping-cart{
    display:flex;
    width:96%;
    padding:2%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.mens-outerwear{
    max-width: 1440px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.mens-outerwear img{
    object-fit: cover;
}
.catalogue-description{
    margin-top:30px;
    margin-bottom: 30px;
}
.button-division {
    margin-bottom: 40px;
}
.t-shirt-catalogue-description{
    margin-top:30px;
    margin-bottom: 30px;
}
.shopping-cart-button{
    padding:8px 44px;
    font-size: 14px;
    border: 2px solid black;
    background-color:white;
    border-color:black;
    color: black;
}
.t-shirt-shopping-cart-button{
    padding:8px 44px;
    font-size: 14px;
    border: 2px solid black;
    background-color:white;
    border-color:black;
    color: black;
}
.tshirt{
    width:50%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.tshirt img{
    object-fit: cover;
}
footer{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-link{
    color: gray;
    padding-bottom: 1%;
}
footer div{
    color:white;
    padding:8px;
    margin:6px 6px 0px 6px;
    font-size: 13px;
    background-color: black;
    border:2px solid black;
    text-transform: uppercase;
}


@media (max-width: 576px) {
    .t-shirt-shopping-cart-button{
        padding:8px 24px;
    }
    .t-shirt-catalogue-description{
        font-size: 1.1em;
    }
}

@media (min-width: 768px) { 
    .main-catalogue{
        width:80%;
    }
    .menu-icon{
        display:none;
    }
    .navbar{
        width:530px;
        max-width: 80%;
        display:flex;
        flex-direction:row;
        justify-content: space-around;
    } 

}
